Automations-with-ai/Gmail Doubt Assistant.json
{
  "name": "Gmail Doubt Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        32
      ],
      "id": "4a97669f-6a4a-4b44-b909-01dea0ce1f3d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "zZGQhOTYIMeUpdVd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        32
      ],
      "id": "7cd2d0f4-3205-484a-abed-7d7f503b03f5",
      "name": "Get a message",
      "webhookId": "6046dea4-e4b6-477f-a46d-39950f2af253",
      "credentials": {
        "gmailOAuth2": {
          "id": "zZGQhOTYIMeUpdVd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        224
      ],
      "id": "42e107c3-fea4-45eb-98a8-8a1f8b7e6271",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4SgpvTMDAW9WS2Mn",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"label\": \"Doubts\",\n\"labelId\": \"Label_6676533252277972784\",\n\"reply\": \"Hey, Thanks for reaching out!\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        192
      ],
      "id": "f776bbf7-1a74-417c-a874-551577d0b2be",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        848,
        208
      ],
      "id": "b5a05d80-319c-4d19-8cf2-a4acba65405a",
      "name": "Get many labels in Gmail",
      "webhookId": "2c4a3bdc-4263-4aea-b0a2-0df11afb9fb9",
      "credentials": {
        "gmailOAuth2": {
          "id": "zZGQhOTYIMeUpdVd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.labelId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        32
      ],
      "id": "e70a7da1-dfbd-4a2b-b83d-2e8883d0440a",
      "name": "Add label to message",
      "webhookId": "461f26ac-ea78-4fc3-8ae3-72cc810fcd21",
      "credentials": {
        "gmailOAuth2": {
          "id": "zZGQhOTYIMeUpdVd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Get a message').item.json.Subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.reply }}",
        "options": {
          "threadId": "={{ $json.threadId }}",
          "sendTo": "={{ $('Get a message').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1136,
        32
      ],
      "id": "e2d5c64c-4af5-41fd-8492-acae514b5d49",
      "name": "Create a draft",
      "webhookId": "39f29514-d852-46c8-a192-b7df7d3596ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "zZGQhOTYIMeUpdVd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hey, you have to act like a AI doubt solving assistant. \n\nBelow are the content of some of the recent mails:\n\nSubject:  {{ $json.Subject }}\n\nBody: {{ $json.snippet }}\n\n\nYou have to do two things:\n\n1. Decide the label on the basic of the mail. Use google gmail tool to get all the labels and specify label the label Id of the matching label in your output\n\nLable can one these:\n1. Doubts\n2. Normal\n\n\n2. Draft a mail in strict html format to be replied on the received mail solving its doubt.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        32
      ],
      "id": "c4387587-144e-4129-b307-3479edee0d35",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03d888a1-e7e6-48ef-bd21-b2ec38a3ef96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6e20271c60629498be1145be699d7fc95899dbe2d868364b81159e359e77782"
  },
  "id": "SPXgvvAR6bFkMCTX",
  "tags": [
    {
      "createdAt": "2025-09-06T11:30:59.395Z",
      "updatedAt": "2025-09-06T11:30:59.395Z",
      "id": "NW3XZTN8cLifkasq",
      "name": "gmail"
    },
    {
      "createdAt": "2025-09-06T11:31:06.758Z",
      "updatedAt": "2025-09-06T11:31:06.758Z",
      "id": "m9iisxQGTXZY5gUK",
      "name": "doubt-assistant"
    }
  ]
}