Automations-with-ai/Multi-Agent workflow.json
{
  "name": "Multi-Agent workflow",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -496,
        -32
      ],
      "id": "b133d5d2-7712-461d-9f9f-c41302811415",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Hey you are a calender assitant that creates event in my  calender get events from my calender on the basis of input information provided.\n\nThe current date and time is {{ $now }}\n\n\nIf asked to create event in calender please use calender_create-event-tool and please also proviode with a summary of the event to the calender_create_event_tool tool.\n\nIf asked to get the events from the calender please use calender_get_events_tool and make sure you provide neccessary information only\n\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -288,
        -32
      ],
      "id": "05ffc363-4513-41e6-a999-f17a0d8f9e67",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "harshalwarukarknow@gmail.com",
          "mode": "list",
          "cachedResultName": "harshalwarukarknow@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -48,
        256
      ],
      "id": "04f76340-3816-4e6c-b0d9-ef0ff821610b",
      "name": "calender_get_events_tool",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rsspgN9PoSbJDJpQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "harshalwarukarknow@gmail.com",
          "mode": "list",
          "cachedResultName": "harshalwarukarknow@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        144,
        240
      ],
      "id": "6b322024-a2f5-4d25-a0c5-5c75d591d17d",
      "name": "calender_create-event_tool",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rsspgN9PoSbJDJpQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        256
      ],
      "id": "7c408a62-6ae7-46e9-8fd3-7ad3dbe3960c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -432,
        176
      ],
      "id": "a44107c1-4ac4-4974-a045-49eb1541e1d1",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ep5N3fT5xVjLKpFQ",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calender_get_events_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calender_create-event_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac4a986e-7d4b-40db-8a99-fb79d19afa5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6e20271c60629498be1145be699d7fc95899dbe2d868364b81159e359e77782"
  },
  "id": "WRcW60BNzycWUt1M",
  "tags": [
    {
      "createdAt": "2025-09-07T04:32:23.417Z",
      "updatedAt": "2025-09-07T04:32:23.417Z",
      "id": "dezKBMCdkIRYdBIU",
      "name": "multi-agent"
    }
  ]
}