Automations-with-ai/Telegram Chat bot.json
{
  "name": "Telegram Chat bot",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c9d339e-cf59-4436-9142-075e913d2185",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "5e28b480-5581-4bfe-9122-33bc83a861f1",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        0
      ],
      "id": "42914175-a39c-45ff-a8c9-48c7c3c0b580",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant that helps user fulfill their request.\n\nWhen you are asked to perform a task on the current date, please use the current time and date:  {{ $now }}\n\n### Output\n\nYou should outptut the result and dont include anything unneccessary. Just make sure you answer the questions and ask anything if required.\n\nWhenever asked to create on or get events from the calender, please use Google_calender_tool and provide desired inputs to the workflow\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        0
      ],
      "id": "aa66f9c1-f5b5-4193-a743-df2523a11c4b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "id": "97883da0-f4c0-45d7-9cb0-7f8ab3ac38f5",
      "name": "Send a text message",
      "webhookId": "41f8ee98-ee79-47c1-bf45-729c8d41f92b",
      "credentials": {
        "telegramApi": {
          "id": "JlpYs9hCVNQ7CyJz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "5c35cf59-fa4e-4214-ba8f-86948f2e10df"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "489b6cfd-8136-42b7-b3f3-e2eff099e58c",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -752,
        112
      ],
      "id": "cf9e769c-4bae-43c5-96a3-0600fbd69c5e",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        112
      ],
      "id": "20da0d93-2c93-4978-9eca-a04b6c077ebe",
      "name": "Get message",
      "webhookId": "a1e2a25d-5247-4ec8-8fb8-e66c82e054e9",
      "credentials": {
        "telegramApi": {
          "id": "JlpYs9hCVNQ7CyJz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -624,
        224
      ],
      "id": "d3c16b9f-a7ef-4513-954b-c96908729759",
      "name": "Get a file",
      "webhookId": "678c5a36-473c-4166-8752-153ba0076fef",
      "credentials": {
        "telegramApi": {
          "id": "JlpYs9hCVNQ7CyJz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae645053-de9a-4d88-adee-31ceb3058111",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        224
      ],
      "id": "95397fd7-bf9b-4203-8438-d6fdee1a0931",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -480,
        224
      ],
      "id": "5023e626-a5ac-4c0d-b12e-96ce8d5e2a35",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "qXOj72P4pywvPDhd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Get message').item.json.message.chat.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        208
      ],
      "id": "dff76af2-2793-47b6-8dca-90bd48394652",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WRcW60BNzycWUt1M",
          "mode": "list",
          "cachedResultName": "Basic Automations — Multi-Agent workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', ``, 'string') }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        304,
        208
      ],
      "id": "ab2c1c26-d17f-4832-9814-a275012915b2",
      "name": "Google_calender_tool"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -96,
        224
      ],
      "id": "a0dc5612-7939-4476-b294-49dd0e46729c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "OZy6ap6XEjDtVq6l",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google_calender_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ed2cfaf-077b-4132-9410-b01ba6ef05fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6e20271c60629498be1145be699d7fc95899dbe2d868364b81159e359e77782"
  },
  "id": "kKNrOFtTobLp6awT",
  "tags": [
    {
      "createdAt": "2025-09-06T15:16:38.025Z",
      "updatedAt": "2025-09-06T15:16:38.025Z",
      "id": "EUzds9Wdc4ClQ41l",
      "name": "chatbot"
    },
    {
      "createdAt": "2025-09-06T15:16:33.421Z",
      "updatedAt": "2025-09-06T15:16:33.421Z",
      "id": "n9Qhp4MVe4ir6Llw",
      "name": "telegram"
    }
  ]
}